/docs
*.dia~
backend/vendor
backend/.env
tests/
backend/src/Services/Env.php
backend/data/sql/seeds/seeds.sql

backend/public/uploads/tasks/.gitkeep
backend/public/uploads/tasks/34_dbb6d5c4f333e8cd.png
.postman/resources.yaml
postman/globals/workspace.globals.yaml
/postman/